<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124903365878-q4u75lk6brdm20ghe4c466a8mc18l2mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124903365878-q4u75lk6brdm20ghe4c466a8mc18l2mv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124903365878-1fpcrpftt9k5a3lsvvvgv01dkak3nfkb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdJRgu4uVg17Pkx602Nkfo9bt5Q3BhJF8</string>
	<key>GCM_SENDER_ID</key>
	<string>124903365878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reyleaf.com</string>
	<key>PROJECT_ID</key>
	<string>reyleaf-5c95f</string>
	<key>STORAGE_BUCKET</key>
	<string>reyleaf-5c95f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124903365878:ios:fb35b94e3fb135ac98e0d7</string>
	<key>DATABASE_URL</key>
	<string>https://reyleaf-5c95f-default-rtdb.firebaseio.com</string>
</dict>
</plist>